[submodule "LRDB"]
	path = LRDB
	url = https://github.com/danielga/LRDB.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
[submodule "third-party/garrysmod_common"]
	path = third-party/garrysmod_common
	url = https://github.com/danielga/garrysmod_common.git
